{% extends 'base.html' %}
{% load static %}

{% block content %}

<section id="content" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center mb-4">{{ project.title }}</h2>

                <p>Этот проект представляет собой новостной портал, который выходит за рамки стандартного формата благодаря разнообразию функций и удобству использования.</p>
                <ul>
                    <li>Регистрация и Авторизация</li>
                    <li>Пагинация</li>
                    <li>Поиск и Фильтрация по категориям</li>
                    <li>Статистика просмотров</li>
                    <li>Капча</li>
                    <li>Комментарии к новостям</li>
                    <li>Подтверждение почты по токену</li>
                    <li>Форма обратной связи</li>
                    <li>Форма добавления новостей</li>
                </ul>
            </div>
        </div>

        <!-- Фото и текст -->
        <div class="row align-items-center">
            <div class="col-md-8 mx-auto">
                <img src="{% static 'img/news-reg.jpg' %}" alt="Фото1" class="img-fluid">
                <img src="{% static 'img/news.jpg' %}" alt="Фото2" class="img-fluid">
                <img src="{% static 'img/news-news.jpg' %}" alt="Фото2" class="img-fluid">
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <p>Это первый мой проект, на котором я учился и тренировался. Не стоит ожидать от него чистоты кода и красивого внешнего вида, потому как я гнался за функционалом.</p>
            </div>
        </div>
    </div>
</section>


{% endblock %}