{% extends 'base.html' %}
{% load static %}

{% block content %}

<section id="content" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center mb-4">{{ project.title }}</h2>

                <p>Не думаю, что мне стоит как-то красочно описывать сайт, который вы и так видите своими глазами.
                    Красота, простота и за ненадобностью практически отсутствующая функциональность. Единсвенный функционал,
                    который выглядел к месту, это капча и комментарии.</p>

            </div>
        </div>
    </div>
</section>


{% endblock %}