{% extends 'base.html' %}


{% block content %}


<section id="about" class="py-3">
    <div class="container">
        <h3 class="text-center mb-4">Досье</h3>
        <p><strong>Имя:</strong> Антон Михайлович </p>
        <p><strong>Возраст:</strong> 23 года</p>
        <p><strong>Город:</strong> Таганрог, Ростов-на-Дону</p>
    </div>
</section>

<section id="education" class="bg-light py-3">
    <div class="container">
        <h3 class="text-center mb-4">Образование</h3>
        <p><strong>Среднее:</strong> Лицей №28</p>
        <p><strong>Высшее:</strong> ИКТИБ ЮФУ</p>
        <p><strong>Направление:</strong> Информационная безопасность</p>
    </div>
</section>

<section id="qualities" class="py-3">
    <div class="container">
        <h3 class="text-center mb-4">Личностные качества</h3>
        <br>
        <div class="row">
            <div class="col-md-6">
                <h4>Плюсы</h4>
                <ul>
                    <li>Целеустремленность</li>
                    <li>Открытость к новому</li>
                    <li>Ответственность</li>
                    <li>Аналитический склад ума</li>

                </ul>
            </div>
            <div class="col-md-6">
                <h4>Минусы</h4>
                <ul>
                    <li>Недостаток опыта</li>
                    <li>Отсутствие предыдущего места работы</li>
                    <li>Недостаточная пунктуальность</li>

                </ul>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</section>

<!--<section id="interests" class="bg-light py-3 mb-5">-->
<!--    <div class="container">-->
<!--        <h3 class="text-center mb-4">Заметки свидетеля</h3>-->
<!--        <p>"В темных закоулках города живет Антон – таинственный человек, чьи интересы лежат в разных уголках жизни.-->
<!--            В один день он может проводить часы, сидя за пыльными, желтыми книжками. Другой – просидеть с утра до ночи-->
<!--            за компьютером, отвлекаясь только на еду. А третий день посвятить кускам железа, которые будет тягать, пока-->
<!--            не выполнит всю программу. Или пока не станет плохо. Впрочем, чего уж греха таить, любовь к спорту не мешает-->
<!--            ему иметь вредные привычки, вроде чашечки ароматного кофе по утрам и пахучей сигаретки ночью.</p>-->
<!--        <p>-->
<!--            Когда я говорил с ним в последний раз, он, поглаживая кота на заборе, задал мне вопрос - есть ли у меня мечта.-->
<!--            Наверное, я бы ответил ему, если бы она действительно у меня была, но вместо нее у меня была лишь цель дожить до завтра,-->
<!--            о чем я, конечно, не мог сказать. Вместо этого я задал ему тот же вопрос.-->
<!--        </p>-->
<!--        <p>-->
<!--            'Вкатиться в айтишку 500к/сек, вот моя цель', - беззастенчиво ответил он и улыбнулся. - 'Она приведет меня к исполнению мечты', - продолжал он.        </p>-->
<!--        <p>-->
<!--            Я мог только догадываться, говорил ли он правду или просто шутил, но в его взгляде читалась решительность.-->
<!--            Тогда я еще был молод и не знал, куда же нас заведет судьба..." © <i> Joe Biden </i>-->
<!--        </p>-->
<!--    </div>-->
<!--</section>-->


{% endblock %}