{% extends 'base.html' %}
{% block content %}

<section class="py-5">
    <div class="container">
        <h3 class="text-center mb-4">Связь</h3>
        <div class="row align-items-center">
            <div class="col-md-1">
                <p><strong>TG:</strong> </p>
                <p><strong>WhatsApp:</strong></p>
                <p><strong>LeetCode:</strong></a></p>
                <p><strong>GitHub:</strong></p>
                <p><strong>ПыСы:</strong></p>
            </div>
            <div class="col-md-6">
                <p>@valera415 </p>
                <p>+7-(961)-298-32-97</p>
                <p><a href="https://leetcode.com/valera415/ ">https://leetcode.com/valera415/ </a></p>
                <p><a href="https://github.com/Valera415">https://github.com/Valera415</a></p>
                <p>Валера имя смешное, это все мои ссылки и зовут меня Антон. </p>
            </div>

</section>


{% endblock %}