{% extends 'base.html' %}
{% block content %}

<section id="about" class="py-5">
    <div class="container">
        <h3 class="text-center mb-4">Языки программирования</h3>
        <p><strong>Python:</strong> Мой основной ЯП. Я уверенно использую его для решения различных задач, начиная от простых скриптов и заканчивая целыми проектами. Мои знания Python позволяют мне решать задачи, хотя я не считаю что, знаю хоть сколько-то много и продолжаю углублять свои знания в этом языке.</p>
        <br>
        <p><strong>JS:</strong> В прошлом я рассматривал возможность пойти во front-end разработку, но вовремя одумался.
            Тем не менее, у меня остался опыт работы с JavaScript, пусть и сильно меньше. </p>
    </div>
</section>

<section class="bg-light py-5">
    <div class="container">
        <h3 class="text-center mb-4">Веб-разработка</h3>
        <p><strong>HTML:</strong> Обладаю знаниями, достаточными для создания структуры страниц и понимания основ. </p>
        <p><strong>CSS:</strong> Базовые навыки, необходимые для стилизации элементов. </p>
    </div>
</section>

<section class="py-5">
    <div class="container">
        <h3 class="text-center mb-4">БД и СУБД</h3>
        <p><strong>SQL Server:</strong> Имею опыт работы в учебных целях и владею основами без углубления в детали.</p>
        <p><strong>SQLite:</strong> Небольшой практический опыт, в основном через использование ORM Django. </p>

    </div>
</section>


<section class="bg-light py-5">
    <div class="container">
        <h3 class="text-center mb-4">Фреймворки</h3>
        <p><strong>Django:</strong> Основной фреймворк, который я изучаю в данный момент и продолжаю совершеноствоваться.</p>
        <p><strong>React:</strong> Минимальные знания, оставшиеся от времен, когда я хотел быть фронтендером.</p>
    </div>
</section>

<section class="py-5 mb-5">
    <div class="container">
        <h3 class="text-center mb-4">Прочее</h3>
        <p><strong>GitHub:</strong> Владею базовыми навыками работы с GitHub, использую его для контроля версий и хранения своего кода. Пусть и не всегда.</p>
    </div>
</section>

{% endblock %}